@{
    ViewBag.Title = "Home Page";
}

<br><br>

<div data-scroll-speed="1" class="row">
    <div id="box" class="col-md-7">

        <div class="row">
            <div id="sta-pal" class="col-md-3">
                <h4>CURRENT WEATHER</h4>
                <img src="~/image1/icons/001lighticons-02.png" />
                <p class="cel">30&#8451;</p>
                <p class="sta">Sunny</p>
                <p class="low">Sunny hfhd fhuid hfhf udf</p>
            </div>
            <div id="sta-pal" class="col-md-3">
                <h4>CURRENT WEATHER</h4>
                <img src="~/image1/icons/001lighticons-03.png" />
                <p class="cel">19&#8451;</p>
                <p class="sta">Cloudy</p>
                <p class="low">Sunny hfhd fhuid hfhf udf</p>
            </div>
            <div id="sta-pal" class="col-md-3">
                <h4>CURRENT WEATHER</h4>
                <img src="~/image1/icons/001lighticons-04.png" />
                <p class="cel">27&#8451;</p>
                <p class="sta">Warm</p>
                <p class="low">Sunny hfhd fhuid hfhf udf</p>
            </div>
            <div id="sta-pal" class="col-md-3">
                <h4>CURRENT WEATHER</h4>
                <img src="~/image1/icons/001lighticons-05.png" />
                <p class="cel">7&#8451;</p>
                <p class="sta">Thunderstorm</p>
                <p class="low">Sunny hfhd fhuid hfhf udf</p>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        <h4>CURRENT WEATHER</h4>
        <img src="~/image1/icons/001lighticons-05.png" />
        <p class="cel">22&#8451;</p>
        <p class="sta">Thunderstorm</p>
        <p class="low">
            Sunny hfhd fhu Dribbble Industrial Analytics Sen Dribbble
            Industrial Analytics Sensor Map Overview Dashboardsor Map Overview Dashbo
            ard bfhd fg dfygb dsf bsdif bid hfhf udf
        </p>
    </div>
</div>

<br><br><br><br>
<div data-scroll-speed="1" class="row">

    <div class="col-lg-1">

    </div>
    <div id="white" class="col-lg-10">
        <p class="white">
            <h2 class="sub-top">About us</h2>
            Sunny hfhd fhu Dribbble Industrial Analytics Sen Dribbble
            Industrial Analytics Sensor Map. Overview Dashboardsor Map Overview Dashbo
            ard bfhd fg dfygb. dsf bsdif bid hfhf udf.Sunny hfhd fhu Dribbble Industrial Analytics Sen Dribbble
            Industrial Analytics Sensor Map. Overview Dashboardsor Map Overview Dashbo
            ard bfhd fg dfygb. dsf bsdif bid hfhf udf.Sunny hfhd fhu Dribbble Industrial Analytics Sen Dribbble
            Industrial Analytics Sensor Map. Overview Dashboardsor Map Overview Dashbo
            ard bfhd fg dfygb. dsf bsdif bid hfhf udf.Sunny hfhd fhu Dribbble Industrial Analytics Sen Dribbble
            Industrial Analytics Sensor Map. Overview Dashboardsor Map Overview Dashbo
            ard bfhd fg dfygb. dsf bsdif bid hfhf udf.Sunny hfhd fhu Dribbble Industrial Analytics Sen Dribbble
            Industrial Analytics Sensor Map. Overview Dashboardsor Map Overview Dashbo
            ard bfhd fg dfygb. dsf bsdif bid hfhf udf.Sunny hfhd fhu Dribbble Industrial Analytics Sen Dribbble
            Industrial Analytics Sensor Map. Overview Dashboardsor Map Overview Dashbo
            ard bfhd fg dfygb. dsf bsdif bid hfhf udf.Sunny hfhd fhu Dribbble Industrial Analytics Sen Dribbble
            Industrial Analytics Sensor Map. Overview Dashboardsor Map Overview Dashbo
            ard bfhd fg dfygb. dsf bsdif bid hfhf udf.
        </p>

    </div>
    <div class="col-lg-2">

    </div>
</div>
<br><br><br><br>




<div data-scroll-speed="1" class="row">
    <h2 class="sub-top">This Week</h2>
    <br>
    <div id="sta-pal" class="col-md-3">
        <h4>Today</h4>


        <img src="~/image1/icons/001lighticons-02.png" />
        <p class="cel">30&#8451;</p>
        <p class="sta">Sunny</p>
        <p class="low">Sunny hfhd fhuid hfhf udf</p>

    </div>



    <div class="col-md-8">

        <div id="sta-pal" class="col-md-2">
            <h4>Monday</h4>
            <img src="~/image1/icons/001lighticons-02.png" />
            <p class="cel">30&#8451;</p>
            <p class="sta">Sunny</p>
            <p class="low">Sunny hfhd fhuid hfhf udf</p>
        </div>
        <div id="sta-pal" class="col-md-2">
            <h4>Tuesday</h4>
            <img src="~/image1/icons/001lighticons-03.png" />
            <p class="cel">19&#8451;</p>
            <p class="sta">Cloudy</p>
            <p class="low">Sunny hfhd fhuid hfhf udf</p>
        </div>
        <div id="sta-pal" class="col-md-2">
            <h4>Wednesday</h4>
            <img src="~/image1/icons/001lighticons-04.png" />
            <p class="cel">27&#8451;</p>
            <p class="sta">Warm</p>
            <p class="low">Sunny hfhd fhuid hfhf udf</p>
        </div>
        <div id="sta-pal" class="col-md-2">
            <h4>Thursday</h4>
            <img src="~/image1/icons/001lighticons-05.png" />
            <p class="cel">7&#8451;</p>
            <p class="sta">Thunderstorm</p>
            <p class="low">Sunny hfhd fhuid hfhf udf</p>
        </div>
        <div id="sta-pal" class="col-md-2">
            <h4>Friday</h4>
            <img src="~/image1/icons/001lighticons-02.png" />
            <p class="cel">30&#8451;</p>
            <p class="sta">Sunny</p>
            <p class="low">Sunny hfhd fhuid hfhf udf</p>
        </div>
        <div id="sta-pal" class="col-md-2">
            <h4>Saturday</h4>
            <img src="~/image1/icons/001lighticons-03.png" />
            <p class="cel">19&#8451;</p>
            <p class="sta">Cloudy</p>
            <p class="low">Sunny hfhd fhuid hfhf udf</p>
        </div>
    </div>
</div>


<br><br><br><br>



