body {
   
    background-color: #eaeaea;
    padding-top: 50px;
    padding-bottom: 20px;
    
}
.back-img {
    width: 100%;
    
    background-image: url('../image1/back/baa.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}
.back-img1 {
    width: 100%;
    
    background-image: url('../image1/back/baa.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

body {
   background-repeat: no-repeat;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#box {
    
}
.col-md-4 {
    margin-left: 50px;
    text-align: center;
    color: white;
}
.col-md-4 {
    margin-left: 50px;
    text-align: center;
    color: white;
}
.col-md-4 p {
    color: white;
}
#sta-pal {
    opacity: 0.5;
    height: 340px;
    background-color: white;
    -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
}

#sta-pal:hover {
    color: white;
    background-color: #282828;
    -webkit-transition-duration: 1s; 
    transition-duration: 1s;
}
img {
    width: 130px;
    height: 130px;
}
.cel {
    font-size: 40px;
    
    
}
footer p {
    color: white;
}

.sta {
    font-size: 17px;
}
.low {
    color: #707070;
    font-size: 13px;
}
.sub-top{
    color: white;
}

.white {
    color: white;
}
#white {
    color: white;
}
.content {
  height: 5000px;
}

.wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  box-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
  -ms-flex-align: center;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
}

.box {
  -webkit-box-flex: none;
  -moz-box-flex: none;
  box-flex: none;
  -webkit-flex: none;
  -moz-flex: none;
  -ms-flex: none;
  flex: none;
  height: 100px;
  width: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  color: #fff;
  background: #ff8330;
}
.box:nth-of-type(2) {
  background: #E01B5D;
}
.box:nth-of-type(3) {
  background: #30FFFF;
}
.box:nth-of-type(4) {
  background: #B3FF30;
}
.box:nth-of-type(5) {
  background: #308AFF;
}
.box:nth-of-type(6) {
  background: #1BE059;
}
#back {
    background-color: black;
}

.body-upper {
     background-image: url('../../image1/back/pexels-photo.jpg');
    background-size: cover;
}